.filters-panel {
  width: min-content;
  background-color: var(--spark-color-theme-light-gray75);
  border-right: 1px solid var(--spark-color-carbon-tint2);

  .filters-search {
    margin-bottom: 1rem;
  }
}
