librosa>=0.8.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.13.1; sys_platform == 'darwin'
torchaudio==0.13.1+cpu; sys_platform == 'linux' or platform_system == 'Windows'
git+https://github.com/eaidova/pyannote-audio.git@hub0.10