librosa>=0.8.1
ruamel.yaml>=0.17.8,<0.17.29
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
git+https://github.com/eaidova/pyannote-audio.git@hub0.10
openvino>=2023.1.0