librosa>=0.8.1
ruamel.yaml>=0.17.8,<0.17.29
--find-links https://download.pytorch.org/whl/torch_stable.html
torchaudio==2.0.2; sys_platform == 'darwin'
torchaudio==2.0.2+cpu; sys_platform == 'linux' or platform_system == 'Windows'
git+https://github.com/eaidova/pyannote-audio.git@hub0.10