librosa>=0.8.1
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchaudio
encodec;python_version>"3.7"
git+https://git@github.com/eaidova/encodec#egg=encodec;python_version=="3.7"
gradio
openvino>=2023.1.0