librosa>=0.8.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torchaudio==2.0.2; sys_platform == 'darwin'
torchaudio==2.0.2+cpu; sys_platform == 'linux' or platform_system == 'Windows'
encodec;python_version>"3.7"
git+https://git@github.com/eaidova/encodec#egg=encodec;python_version=="3.7"
gradio