openvino-dev
matplotlib<3.4
gdown

# ONNX notebook requirements
geffnet==0.9.8
fastseg
onnx
ipywidgets

torch>=1.5.1,<=1.7.1; sys_platform == 'darwin'
torchvision>=0.6.1,<=0.8.2; sys_platform == 'darwin'
--find-links https://download.pytorch.org/whl/torch_stable.html
torch>=1.5.1+cpu,<=1.7.1+cpu; sys_platform =='linux' or platform_system == 'Windows'
torchvision>=0.6.1+cpu,<=0.8.2+cpu; sys_platform =='linux' or platform_system == 'Windows'

# Tensorflow notebook requirements
networkx>=1.11
defusedxml>=0.5.0
tensorflow>=2.2,<2.4

# Jupyter requirements
jupyterlab

# Pin versions to prevent known dependency issues
importlib-metadata==3.7.3
ipython==7.10.*
numpy==1.18.*
setuptools>=56.0.0
