sacrebleu 
rouge-score
bert-score
transformers
typing
nltk
numpy
textblob
dataset
langchain
langchain_community
chromadb
langchain-chroma
langchain-huggingface
sentence-transformers
Flashrank
langchain_community
msoffcrypto-tool
docx2txt
urllib
bs4
os
optimum[intel]
python-docx
