.status-icon {
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &-success {
    fill: var(--spark-color-moss-tint1);
  }

  &-failed {
    fill: var(--spark-color-coral);
  }

  &-warn {
    fill: var(--spark-color-daisy-shade1);
  }

  &-skipped {
    fill: var(--spark-color-theme-dark-gray600);
  }
}

.status-table {
  --table-border-color: var(--spark-color-theme-light-gray400);

  border: 1px solid var(--table-border-color);
  border-bottom: 0;
  display: grid;
  grid-template-columns: auto repeat(4, auto);
  grid-template-rows: repeat(6, 1fr);
  grid-auto-flow: row;
  grid-template-areas:
    'os-header  python-header   python-header   python-header   devices-header'
    'os-header  python-versions python-versions python-versions devices'
    'os-names   python-statuses python-statuses python-statuses devices-statuses'
    'os-names   python-statuses python-statuses python-statuses devices-statuses'
    'os-names   python-statuses python-statuses python-statuses devices-statuses'
    'os-names   python-statuses python-statuses python-statuses devices-statuses';

  .cell {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0.175rem 0.5rem;
  }
}

.os-header {
  grid-area: os-header;
  font-weight: 500;
  border-bottom: 1px solid var(--table-border-color);
  align-content: center;
}

.os-names {
  grid-area: os-names;
  display: grid;
  grid-template-rows: subgrid;
}

.os-header,
.os-names {
  border-right: 1px solid var(--table-border-color);

  .cell {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.python-header {
  grid-area: python-header;
  font-weight: 500;
}

.python-versions {
  grid-area: python-versions;
  font-weight: 500;
  display: grid;
  grid-template-columns: subgrid;
  border-bottom: 1px solid var(--table-border-color);
}

.python-statuses {
  grid-area: python-statuses;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.python-header,
.python-versions,
.python-statuses {
  .cell {
    padding-left: 1rem;
  }
}

.os-names,
.python-statuses,
.devices-statuses {
  .cell {
    border-bottom: 1px solid var(--table-border-color);
  }
}

.devices-header {
  grid-area: devices-header;
  font-weight: 500;
}

.devices {
  grid-area: devices;
  font-weight: 500;
  display: grid;
  grid-template-columns: subgrid;
  border-bottom: 1px solid var(--table-border-color);
}

.devices-statuses {
  grid-area: devices-statuses;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.devices-header,
.devices,
.devices-statuses {
  border-left: 1px solid var(--table-border-color);

  .cell {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
