# Recommended packages for notebook developers

-r ../requirements.txt
black[jupyter]==26.3.1               # format Python code
isort                       # sort imports
jupyterlab-code-formatter   # format code in notebooks in Jupyter Lab
jupyterlab-git              # checkout and commit code in Jupyter Lab
nbqa[toolchain]             # automatic code quality checking
nbval                       # pytest plugin for automatic notebook testing
git+https://github.com/eaidova/treon.git@ea/cell_info # test framework for Jupyter Notebooks 
toml                        # used for validating docker requirements
mistune==2.0.4              # use for parsing README.md
requests==2.33.0            # use for checking links
psutil                      # process management
pyspelling                  # automating spell checking
virtualenv-clone            # clone virtual environments for validation script