openvino-dev
numpy
opencv-python
matplotlib
jupyterlab
scipy
ipywidgets
yaspin
onnx
ipython>=7.16.3 # not directly required, pinned by Snyk to avoid a vulnerability
notebook>=6.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
