[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

aiohttp = ">=3.7.4"
defusedxml = ">=0.5.0"
fastseg = "*"
gdown = "*"
geffnet = "==0.9.8"
grpcio = "*"
ipywidgets = "*"
itk = "*"
itkwidgets = "==0.23.1"
jedi = "==0.17.2"
jupyter-kernel-gateway = "*"
jupyter-nbrequirements = "*"
jupyterhub = "==1.1.0"
jupyterlab = "*"
keras-nightly = "==2.5.0.dev2021032900"
matplotlib = "<3.4"
nbval = "*"
networkx = ">=1.11"
onnx = "*"
openvino-dev = "==2021.4"
openvino-extensions = "*"
paddle2onnx = "*"
paddlepaddle = "==2.1.*"
ppgan = "*"
PVGeo = "*"
pytube = "*"
pyvista = "*"
supervisor = "*"
tensorflow = "==2.6.0rc0"
tensorflow-serving-api = "==2.6.0rc0"
torch = "<=1.7.1+cpu,>=1.5.1+cpu"
torchvision = "<=0.8.2+cpu,>=0.6.1+cpu"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
