openvino-dev==2024.2
nncf==2.11.0
ultralytics==8.2.10
numpy==1.23.5
pillow==10.3.0
opencv-python==4.10.0.82
onnx==1.16.0
torch==1.13.1
torchvision==0.14.1
supervision==0.11.0
tqdm==4.66.3
pycocotools==2.0.6
cython==0.29.35
