openvino-dev==2023.0
nncf==2.5.0
ultralytics==8.0.117
numpy==1.23.4
pillow==9.4.0
opencv-python==4.7.0.72
onnx==1.14.0
torch==1.13.1
torchvision==0.14.1
supervision==0.11.0
jupyterlab==3.6.3
tqdm==4.65.0
pycocotools==2.0.6
cython==0.29.35
