[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "pytorch-wheels"

[packages]
boto3 = "*"
fastseg = "*"
gdown = "*"
geffnet = "==0.9.8"
ipykernel = "==5.*"
ipython = "==7.16.3"  # pin to avoid vulnerability
ipywidgets = "*"
jedi = "==0.17.2"
jupyter-client = "<=7.2.0"
jupyter-nbrequirements = "*"
jupyterhub = "==2.2.*"
jupyterlab = "*"
jupyterlab-git = "==0.30"
librosa = "==0.8.1"
matplotlib = "<3.4"
monai = "*"
nbval = "*"
nest-asyncio = "<=1.5.4"
nltk = ">=3.6.4"
nncf = {extras = ["torch","tf"], version = "==2.3.0"}
onnx = ">=1.11.0,<1.12.0"
openvino-dev = {extras = ["onnx","tensorflow2"], version = "==2022.1.0"}
ovmsclient = "*"
paddle2onnx = ">=0.6,<=0.9.6"
paddlehub = "<=2.2.0"
paddlenlp = "==2.0.8"  # pin to avoid conflict with requests
paddlepaddle = "==2.2.*"
parasail = "<=1.2.4"
Pillow = ">=8.3.2"
ppgan = ">=2.1.0"
pygments = ">=2.7.4"
pytorch_lightning = "*"
pytube = ">=12.1.0"
rsa = ">=4.7"
scikit-learn = ">=0.24.2"
seaborn = ">=0.11.0"
setuptools = ">56.0.0"
supervisor = "==4.1.0"
tensorflow = "==2.5.3"
tensorflow_datasets = "*"
torch = {index = "pytorch-wheels", version = "==1.8.1+cpu"}
torchmetrics = "==0.6.2"
torchvision = {index = "pytorch-wheels", version = "==0.9.1+cpu"}
transformers = "*"
yaspin = "*"

[dev-packages]

[requires]
python_version = "3.8"
