[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = ">=3.7.4"
fastseg = "*"
gdown = "*"
geffnet = "==0.9.8"
grpcio = "*"
ipykernel = "==5.*"
ipython = "==7.10.*"
ipywidgets = "*"
itkwidgets = "==0.23.1"
jedi = "==0.17.2"
jupyter-nbrequirements = "*"
jupyterhub = "==1.1.0"
jupyterlab = "*"
jupyterlab-git = "==0.30"
matplotlib = "<3.4"
nbval = "*"
nltk = ">=3.6.4"
nncf = {extras = ["torch"], version = "*"}
openvino-dev = {extras = ["onnx","tensorflow2"], version = "==2021.4.*"}
openvino-extensions="*"
paddle2onnx = ">=0.6"
paddlehub = "*"
paddlenlp = "==2.0.8"  # pin to avoid conflict with requests
paddlepaddle = "~=2.1.1"
Pillow = ">=8.3.2"
ppgan = ">=2.0.0"
PVGeo = "*"
pygments = ">=2.7.4"
pytube = "*"
pyvista = "*"
rsa = ">=4.7"
scikit-learn = ">0.24.2"
setuptools = ">56.0.0"
sklearn = "*"
supervisor = "==4.1.0"
tensorflow-serving-api = "==2.4.*"
torch = "<=1.7.1+cpu,>=1.5.1+cpu"
torchvision = "<=0.8.2+cpu,>=0.6.1+cpu"
transformers = "*"
tqdm = "*"
yaspin = "*"

[dev-packages]

[requires]
python_version = "3.8"
