#
# Default dependencies
#
aiohttp>=3.7.4
notebook>=6.0.2
jupyterhub==1.1.0
jupyterlab==3.0.16
jupyter_kernel_gateway==2.4.0
jupyter-nbrequirements
supervisor==4.1.0
jupyterlab-git==0.30

openvino-dev==2021.4
matplotlib<3.4

# ONNX notebook requirements
geffnet==0.9.8
fastseg
onnx
ipywidgets

torch>=1.5.1+cpu,<=1.7.1+cpu
torchvision>=0.6.1+cpu,<=0.8.2+cpu

# TensorFlow notebook requirements
networkx>=1.11
defusedxml>=0.5.0
tensorflow==2.4.2
#tensorflow-serving-api

# Jupyter requirements
ipython==7.10  # pin version to prevent async warnings

# Pin versions to prevent known dependency issues
importlib-metadata==3.7.3
ipykernel==5.5.0

# salt notebook reqs
pyvista
PVGeo

# vision backgroun reqs
gdown
pytube

# validation
nbval

# openshift
grpcio
