# smolagents[mcp]
python-pptx
accelerate
gradio
duckduckgo-mcp-server
transformers==4.49.0
git+https://github.com/jkawamoto/mcp-youtube-transcript
optimum[openvino,nncf]
faiss-cpu
nltk
langchain-community