// Intel One Medium
@font-face {
  font-family: 'IntelOneText';
  font-weight: 500;
  font-style: normal;
  src: url('src/assets/fonts/IntelOne/intelone-bodytext-font-family-medium.woff2') format('woff2');
}

// Intel One Regular
@font-face {
  font-family: 'IntelOneText';
  font-weight: 400;
  font-style: normal;
  src: url('src/assets/fonts/IntelOne/intelone-bodytext-font-family-regular.woff2') format('woff2');
}
