openvino-dev==2024.0.0
nncf==2.9.0
ultralytics==8.1.34
numpy==1.23.4
pillow==10.3.0
opencv-python==4.7.0.72
onnx==1.16.0
torch==1.13.1
torchvision==0.14.1
supervision==0.11.0
jupyterlab==4.0.11
tqdm==4.66.3
pycocotools==2.0.6
cython==0.29.35
datumaro[default]==1.6.0rc1