# Execute notebooks and convert them to Markdown and HTML

name: Convert Notebooks
on:
  workflow_dispatch:
  push:
    branches:
    - 'main'
    paths:
    - 'notebooks/**.ipynb'
    - 'notebooks/**.py'
    - 'requirements.txt'
    - '.ci/*'
    - '.github/workflows/convert_notebooks.yml'
  pull_request:
    paths:
    - '.github/workflows/convert_notebooks.yml'    
jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install required packages
      run: sudo apt-get update && sudo apt-get install texlive texlive-latex-extra pandoc
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r .ci/ci-requirements.txt
        python -m pip freeze > pip-freeze.txt
    - name: Archive pip freeze
      uses: actions/upload-artifact@v2
      with:
        name: pip-freeze
        path: pip-freeze.txt
    - name: Modify Notebooks
      # Change settings in slower notebooks to speed up notebook execution
      run: |
        sed -i 's/NUM_FRAMES = 100/NUM_FRAMES = 5/g' notebooks/202-vision-superresolution/202-vision-superresolution-video.ipynb
        sed -i 's/epochs = 15/epochs = 2/g' notebooks/301-tensorflow-training-openvino/301-tensorflow-training-openvino.ipynb
    - name: convert_notebooks
      run: bash .ci/convert_notebooks.sh
    - name: Save HTML files
      uses: actions/upload-artifact@v2
      with:
        name: html_files
        path: html_files
    - name: Save Markdown files
      uses: actions/upload-artifact@v2
      with:
        name: markdown_files
        path: markdown_files
    - name: Save reStructuredText files
      uses: actions/upload-artifact@v2
      with:
        name: rst_files
        path: rst_files
