name: docker_nbval

on:
  workflow_dispatch:
  schedule:
    - cron:  '30 3 * * *'
  push:
    branches:
    - 'main'
    paths:
      - "Dockerfile"
      - ".docker/**"
      - ".github/workflows/docker.yml"
      - 'notebooks/**.ipynb'
      - 'notebooks/**.py'
      - 'requirements.txt'
      - '.ci/*requirements.txt'
  pull_request:
    branches:
    - 'main'
    paths:
      - "Dockerfile"
      - ".docker/**"
      - ".github/workflows/docker.yml"
      - 'notebooks/**.ipynb'
      - 'notebooks/**.py'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
  
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Build Docker image
      run: |
        docker build . -t openvino_notebooks
    - name: Test notebooks in Docker image
      run: |
        docker run --entrypoint /tmp/scripts/test openvino_notebooks
