name: treon_nightly

on:
  workflow_dispatch:
    paths:
      - 'notebooks/**.ipynb'
      - 'notebooks/**.py'
      - 'requirements.txt'
      - '.ci/*'
      - '.github/workflows/*.yml'
      - '.github/workflows/.env'
  schedule:
    - cron: '0 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build_treon_cpu:
    strategy:
      fail-fast: false
      matrix:
        runs_on: [ubuntu-20.04, ubuntu-22.04, windows-2019, macos-12]
        python: ['3.9', '3.10', '3.11', '3.12']
    uses: ./.github/workflows/build_treon_reusable.yml
    with:
      runs_on: ${{ matrix.runs_on }}
      python: ${{ matrix.python }}

  build_treon_gpu:
    if: ${{ false }} # TODO Enable when GPU runners will be available in GitHub Actions
    strategy:
      fail-fast: false
      matrix:
        runs_on: ['gpu']
        python: ['3.9', '3.10', '3.11', '3.12']
        container: ['ubuntu:20.04', 'ubuntu:22.04'] # Windows and macOS are not available in machine pool with GPU
    uses: ./.github/workflows/build_treon_reusable.yml
    with:
      runs_on: ${{ matrix.runs_on }}
      python: ${{ matrix.python }}
      container: ${{ matrix.container }}

  aggregate_notebooks_reports:
    if: always()
    runs-on: ubuntu-20.04
    needs: [build_treon_cpu, build_treon_gpu]
    steps:
      - name: Checkout repository
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Set up Python
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
        with:
          python-version: '3.9'
      - name: Collect artifacts with reports
        uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e # v4.1.7
        with:
          pattern: test_report-*
          merge-multiple: true
          path: './test_reports'
      - name: Create agregated report
        run: |
          python .ci/aggregate_notebooks_reports.py
      - name: Upload aggregated report
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        with:
          name: notebooks-status-map.json
          path: test_reports/notebooks-status-map.json
          if-no-files-found: error
