# TODO Remove after testing
name: treon_nightly_test

on:
  workflow_dispatch:
    paths:
      - 'notebooks/**.ipynb'
      - 'notebooks/**.py'
      - 'requirements.txt'
      - '.ci/*'
      - '.github/workflows/*.yml'
      - '.github/workflows/.env'
  schedule:
    - cron: '30 8 * * *'
  # TODO Remove after testing
  pull_request:
    branches:
      - 'main'
      - 'latest'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  build_treon_cpu:
    strategy:
      fail-fast: false
      matrix:
        runs_on: [ubuntu-20.04, ubuntu-22.04, windows-2019, macos-12]
        python: ['3.8', '3.9', '3.10']
    uses: ./.github/workflows/build_treon_reusable.yml
    with:
      runs_on: ${{ matrix.runs_on }}
      python: ${{ matrix.python }}

  build_treon_gpu:
    strategy:
      fail-fast: false
      matrix:
        runs_on: ['gpu']
        python: ['3.8', '3.9', '3.10']
        container: ['ubuntu:20.04', 'ubuntu:22.04'] # Windows and macOS are not available in machine pool with GPU
    uses: ./.github/workflows/build_treon_reusable.yml
    with:
      runs_on: ${{ matrix.runs_on }}
      python: ${{ matrix.python }}
      container: ${{ matrix.container }}

  aggregate_notebooks_reports:
    if: always()
    runs-on: ubuntu-20.04
    needs: [build_treon_cpu, build_treon_gpu]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'
      - name: Collect artifacts with reports
        uses: actions/download-artifact@v4
        with:
          pattern: test_report-*
          merge-multiple: true
          path: './test_reports'
      - name: Create agregated report
        run: |
          python .ci/aggregate_notebooks_reports.py
      - name: Upload aggregated report
        uses: actions/upload-artifact@v4
        with:
          # TODO Remove after testing
          name: test-notebooks-status-map.json
          path: test_reports/test-notebooks-status-map.json
          if-no-files-found: error
